{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <style>

        p {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>HELLO WORLD!</h1>
    {% if temperature == 30 %}
    <p> Условие выполнено </p>
    {% elseif temperature == 35 %}
    <p> Жарко </p>
    {% else %}
    <p> Условие не выполнено </p>
    {% endif %}
    {% for page in pages %}
        <div>
            <h4>
                {{ pages.title }}
            </h4>
            <p>
                {{ pages.content }}
            </p>
        </div>
    {% endfor %}
    <p>{{ today | date('m-d-y') }}</p>
    {% include('page/part.html.twig') %}
{% endblock %}
